
@import '../partials/variables';

//////////////////////////////////////

form {
  background-color: #FFFFFF;
  font-family: $primary-font;
  padding: 16px;
  position: relative;
  right: 8px;

  h3 {
    color: #FFFFFF;
    font-size: 16px;
  }
}
