
@import '../partials/variables';

//////////////////////////////////////

.login-area {
    color: #FFFFFF;
    font-family: $primary-font;
    font-weight: 100;
    position: relative;
    right: 8px;

  h3 {
    color: #FFFFFF;
    font-family: $primary-font;
    font-size: 1em;
    font-weight: 300;
  }
}

form {
  background-color: #FFFFFF;
  color: #383838;
  padding: 16px;

  input {
    border-radius: 4px;
    border: 1px solid #b1b1b1;
    font-size: 18px;
    font-weight: 100;
    float: left;
    outline: none;
    padding: 6px;
  }

  span.login-text {
    font-size: 12px;
    margin: 0 0 6px 0;
    display: block;
}
}
