
@import '../partials/variables';

//////////////////////////////////////

.login-area {
  color: #FFFFFF;
  font-family: $primary-font;
  font-weight: 100;
  padding: 16px;
  position: relative;
  right: 8px;

  h3 {
  color: #FFFFFF;
  font-family: $primary-font;
  font-size: 16px;
  }
}

form {
  background-color: #FFFFFF;

  input {
    outline: none;
  }
}
