iframe {
    width: 100%;
}

.project-description {
    margin-bottom: 18px;
}

h2.section-title {
    position: relative;
    left: 28px;
    font-weight: 300;
    font-size: 1em;
}

.section {
    float: left;
/*    height: 100%;
*/    margin-top: 20px;
    width: 100%;
}

.section-content {
    background: pink;
    display: none;
    height: 200px;
	width: auto;
}

.drill-down-arrow {
    background-image: url(../img/vert-arrow-static.svg);
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 22px 14px;
    display: block;
    float: left;
    margin-top: 20px;
    position: relative;
    width: 100%;

}

.drill-down-arrow:hover {
    background-image: url(../img/vert-arrow-hover.svg);
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 22px 14px;
    display: block;
    margin-top: 20px;
    position: relative;
    width: 100%;

    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.arrow-close-icon {
    background-image: url(../img/vert-arrow-close.svg);
    background-position: 0px -6px;
    background-repeat: no-repeat;
    background-size: 22px 30px;
    display: block;
    float: left;
    margin-top: 20px;
    position: relative;
    width: 100%;
}